.main-header {
  background: #333333;
  color: white;
  height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 100;
}

.main-header a {
  color: white;
}

.logo-header {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
}

.logo-header:hover {
  color: #0b76a6;
}

.logo-header .site-name {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
}

.logo-header .site-desc {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
  color: #999;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #0b76a6;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  background: #f2f2f2;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 80px;
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 18px;
}

.image-button img {
  width: 32px;
  height: 32px;
  margin: 4px;
}

.classul {
  display: flex;
}

#item-count {
  position: absolute;
  top: 18px;
  right: 16px;
  background-color: #0b76a6;
  color: #fff;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-trash {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
}

.image-trash img {
  width: 24px;
  height: 24px;
  margin: 4px;
  margin-top: 8px;
}

.payment-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #0b76a6;
}

.payment {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.divabajo {
  margin-top: 80px;
}
